<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HNR</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'application/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'application/css/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
{% block body %}
{% endblock %}


<footer class="container-fluid text-center footer">
 <p>HNR &copy;Gayan Vinod</p>
</footer>

</body>
</html>